.header {
    align-items: center;
    text-align: center;
    background-color: bisque;
    height: 10vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.display {
    text-align: center;
}

.selection-screen {
    display: flex;
    justify-content: space-evenly;
}

.buttonContainer {
    border: solid 1px green;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    width: 40vw;
    justify-content: space-evenly;

}

.button {
     margin-bottom: 15vh; 
}

.result {
    text-align: center;
    border: solid 1px red;
    height: 90vh;
    width: 30vw;
    padding: 5px;
}
.current-score {
    font-size: 15rem;
}

.win-condition {
    font-size: 20px;
}